<p style="color: green"><%= notice %></p>

<h1>Solicitações</h1>

<div id="requests">
  <% @requests.each do |request| %>
    <% if current_user.technician? && request.accepted? %>
      <%= render request %>
      <p>
        <%= link_to "Ver solicitação", request %>
      </p>
    <% elsif !current_user.technician? %>
      <%= render request %>
      <p>
        <%= link_to "Ver solicitação", request %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "Nova solicitação", new_request_path %>
