<div id="<%= dom_id resource %>">
  <p>
    <strong>Nome:</strong>
    <%= resource.name %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= resource.resource_type %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= resource.amount %>
  </p>

  <p>
    <strong>Disponibilidade:</strong>
    <%= resource.availability %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= resource.category&.name %>
  </p>

</div>
