<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Editar essa categoria", edit_category_path(@category) %> |
  <%= link_to "Voltar para categorias", categories_path %>

  <%= button_to "Deletar categoria", @category, method: :delete %>
</div>
